html{
    box-sizing: border-box;
}
body{
    background:linear-gradient(rgb(177, 231, 229),rgb(1, 53, 53));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section{
    border-radius: 10px;  
    background-color: white; 
    display: flex;   
    align-items: center;
    justify-content:center;   
    width: 100%;
    text-align: center;
    max-width: 900px; 
}
img{
    max-width: 100%;
    height: 20vh;
    margin-bottom: 4%;  
}

div{ 
    background-color: rgb(255, 255, 255);  
    padding: 2%;
    border-radius: 20px; 
}
#premium{
    background:linear-gradient(rgb(255, 255, 255),rgb(144, 218, 231));
}
h1{
    font-size: 1.3em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #52595e;
    margin-bottom: 20%;
}
#premiumrec{
    margin-bottom: 5%;
}
#rec{
    font-size: 0.8em;
    border: 1.7px;
    border-style:solid;
    color:rgb(71, 102, 206);
    padding:4px;
    font-style: 'Poppins';
    font-weight: bold;
}
h2{ 
    padding-top: 4%;
    font-size: 1.0em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #023e8a;
}
h3{ 
    border-top:rgb(189, 189, 189) 2px solid;
    padding-top: 4%;
    font-size: 0.8em; 
    color: #023e8a;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
h4{
    border-top:rgb(224, 219, 219) 2px solid;
    padding-top: 4%;
    font-size: 1.7em;
    font-family: 'Poppins', sans-serif;
    color: #023e8a;
    text-align: center;
} 
button{   
    background-color: rgb(247, 255, 254);
    border-color: rgb(238, 241, 241); 
    font-size: 1.2em;  
    color: #023e8a;
    display: flex;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top:1%;
    padding-bottom: 1%;
    font-family: 'Poppins', sans-serif;
    transition: 0.15s all;
    border-radius: 10px;
}
#blue
{
    background-color: rgb(27, 129, 163); 
    color: white;
}
button:hover{
   background-color: rgb(199, 231, 240);
   border-color: rgb(172, 194, 240);  
   cursor:pointer;
   box-shadow: 0 0.75em 0.75em -0.6em rgb(23, 45, 146);
   transform: translateY(-1.5px);
}
#blue:hover{
    background-color: rgb(18, 53, 119);
    border-color: rgb(157, 143, 223);  
    cursor:pointer;
    box-shadow: 0 0.75em 0.75em -0.6em rgb(18, 35, 112);
    transform: translateY(-1.5px);
 }
@media(max-width: 900px)
{
   section{
       flex-direction: column; 
       width: 90%;
       margin: 0;
       background-color: rgb(253, 253, 253);
   }
   #premium{
    background: 0;
    background-color: rgb(253, 247, 247);
}
   div{  
       margin-top: 5%;
       border-bottom: 5px rgb(93, 93, 97) solid;
       border-width: 80%; 
       border-bottom-left-radius: 0;
       border-bottom-right-radius: 0;
       background-color: white;
   }
   img{
       height: 15vh;
   }
   h1{
       margin-bottom: 5%;
       font-size: 1.2em;
   }
   h2{
       font-size: 0.9em;
   }
   h3{
       font-size: 0.9em;
   }
   h4{
       font-size: 1.2em;
   }

}
